<a href="https://colab.research.google.com/github/lacteavian/miuul_machine_learning_bootcamp/blob/main/week1_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

example 1

Capitalize all letters of the given string expression. Put space instead of commas and dots, separate them word by word.

In [75]:
text = "The goal is to turn data into information, and information into insight."

In [76]:
text=text.upper()
text=text.split()

In [77]:
text=[word.replace("."," ") if "." or "," in word else word for word in text]
text=[word.replace(","," ") if "," in word else word for word in text]

In [78]:
text

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION ',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT ']

example 2

Follow the steps below to the given list


*   Step1: Look at the number of elements of the given list.
*   Step2: Call the elements at index zero and ten.
*   Step3: Create a list ["D", "A", "T", "A"] from the given list.
*   Step4: Delete the element in the eighth index.
*   Step5: Add a new element.
*   Step6: Re-add element "N" to the eighth index.

In [110]:
lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

In [111]:
len(lst)

11

In [112]:
lst[0]

'D'

In [113]:
lst[10]

'E'

In [114]:
new_list = lst[0:4]
new_list

['D', 'A', 'T', 'A']

In [115]:
lst.remove(lst[8])
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [116]:
lst.append("A")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'A']

In [117]:
lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'A']

example 3



*   Step 1: Access the key values.
*   Step 2: Access the values.
*   Step 3: Update the value 12 of the Daisy key to 13.
*   Step4: Add a new value whose key value is Ahmet value [Turkey,24].
*   Step 5: Delete Antonio from dictionary.

In [118]:
dict={'Christian': ["America",18],
      'Daisy': ["England",12],
      'Antonio': ["Spain",22],
      'Dante': ["Italy",25]}

In [119]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [120]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [124]:
dict.update({"Daisy":["England",13]})

In [125]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [127]:
dict.update({"Ahmet": ["Turkey",24]})

In [128]:
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [130]:
dict.pop("Antonio")
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

example 4

Write a function that takes a list as an argument, assigns the odd and even numbers in the list to separate lists, and returns those lists.

In [131]:
l=[1,13,22,45,77,92]

In [134]:
def separate_numbers(list):
  odds=[]
  evens=[]
  for i in list:
    if i%2==0:
      evens.append(i)
    else:
      odds.append(i)
  return odds,evens

In [135]:
separate_numbers(l)

([1, 13, 45, 77], [22, 92])

example 5

In the list given below are the names of the students who received degrees in engineering and medicine faculties. While the first three students represent the success order of the engineering faculty, the last three students belong to the medical faculty student rank, respectively. Print the student's degrees specific to the faculty using Enumarate.

In [136]:
students = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [137]:
faculties = ["engineering","medicine"]

In [138]:
for degree,student in enumerate(students,1):
  if degree < 4:
    print(f"in engineering {degree}. student: {student}")
  else:
    print(f"in medicine {degree-3}. student: {student}")

in engineering 1. student: Ali
in engineering 2. student: Veli
in engineering 3. student: Ayşe
in medicine 1. student: Talat
in medicine 2. student: Zeynep
in medicine 3. student: Ece

example 6


There are two sets below. What is requested from you is that if the 1st set includes the 2nd set, then print the common elements. If it does not, print the difference from the set. You are expected to define the function to perform the above.

In [145]:
set1=set(["data","python"])
set2=set(["data","function","qcut","lambda","python","miuul"])

In [148]:
def set_operation(set1,set2):
  if set1.issuperset(set2):
    print(set1.intersection(set2))
  else:
    print(set2-set1)

In [149]:
set_operation(set1,set2)

{'qcut', 'function', 'miuul', 'lambda'}

List Comprehensions

Using the List Comprehension structure, capitalize the names of the numeric variables in the car_crashes data and add NUM to the beginning.

In [165]:
import seaborn as sns
df=sns.load_dataset("car_crashes")
cols=df.columns

In [166]:
cols

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [167]:
cols=["NUM_" + col.upper() if df[col].dtype !="O" else col.upper() for col in cols ]
cols

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

Using the List Comprehension structure, write "FLAG" after the names of the variables in the car_crashes data that do not contain "no" in their names.

In [172]:
[col + "_FLAG" if "NO" not in col else col for col in cols ]

['NUM_TOTAL_FLAG',
 'NUM_SPEEDING_FLAG',
 'NUM_ALCOHOL_FLAG',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM_FLAG',
 'NUM_INS_LOSSES_FLAG',
 'ABBREV_FLAG']

Using the List Comprehension structure, select the names of the variables that are DIFFERENT from the variable names given below and create a new dataframe.

In [173]:
og_list=["abbrev","no_previous"]

In [175]:
new_cols=df.columns

In [182]:
new_df = df[[col for col in new_cols if col not in og_list]]

In [185]:
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63